@font-face {
  font-family: "Alata";
  src: url("font/Alata-Regular.woff2");
  /*
    Refer to assets/Alata-OFL.txt
    or https://github.com/SorkinType/Alata/blob/master/OFL.txt
    for license of font
  */
}

body {
  color: #f0f0f0;
  font-family: "Alata";
  background: #101010;
  background-image: url("images/bg.png");
  background-size: 150px;
  margin: 0px;
  padding: 0px;
}

p {
  margin: 5px;
}

.wrapper {
  position: absolute;
  width:100%;
  min-height:100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 8rem;
  text-align: center;
  max-width: 1100px;
}

.select-box {
  margin: 14px;
  /* margin-bottom: 6px; */
  margin-bottom: 40px;
  padding: 8px;
  border: 8px solid #8282AA;
  border-radius: 30px;
  background: #A8B2FF2E;
  filter: drop-shadow(3px 3px 2px #000);
}

.random-box {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  padding: 8px;
  filter: drop-shadow(3px 3px 2px #000);
}

.random-p1, .random-p2 {
  margin: 0px 16px;
  padding: 8px 4px;
  border-radius: 30px;
  max-width: 800px;
  min-width: 150px;
  min-height: 80px;
}

.random-p1 {
  border: 8px solid #954B4B;
  background: #FF8E8E33;
}

.random-p2 {
  border: 8px solid #494eab;
  background: #93a5ff32;
}

.presets {
  display: block;
  text-align: center;
  max-width: 92%;
  margin: auto;
  margin-top: 20px;
  /* margin-bottom: 30px; */
}

.button {
  background-color: #000;
  margin: 3px 5px;
  color: #B58419;
  border: 2px solid #B58419;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  filter: drop-shadow(0px 0px 1px #956808);
  transition: transform .1s;
}

.button:hover {
  color: #D1991F;
  border-color: #c48a0e;
  filter: drop-shadow(0px 0px 3px #956808);

  transition: all 0.1s ease;
  transform: scale(1.1);
}

.button:active {
  background-color: #501c007f;
  box-shadow: 0 2px #c48a0e;
  transition: all 0.2s ease;
  transform: translateY(1px);
  transition: transform 0s;
}

.character-container {
  display: inline-block;
  margin: 5px;
  width: 80px;
  height: 80px;
  transition: transform .1s;
}

.character-container:hover {
  filter: drop-shadow(0px 0px 1px #ffffff30);
  transition: transform 0.1s;
  transform: scale(1.05);
}

.character-container:active {
  transform: translateY(2px);
  transition: transform 0.01s;
}

.character {
  filter: drop-shadow(3px 3px 0px #000000ff) drop-shadow(1px 0px 4px #ffffffa0);
  width: 100%;
  height: 100%;
  object-fit: contain;
  user-select: none;
  -moz-user-select: none;
}

.credits {
  position: absolute;
  bottom: 0px;
  padding: 4px;
}

.credits p {
  color: #B0B0B0;
  filter: drop-shadow(1px 1px 0px #2d2b35);
}

.credits a:link, a:visited {
  color: unset;
}